{% extends 'registration/alt_base.html.twig' %}

{% block body %}



    <div class="main-container">
        <h1 class="white white-title">TaskLinker</h1>

        <div class="container-registration">
            <h2 class="white">S'inscrire</h2>

            {{ form(form) }}

            <a class="already" href="{{ path('app_login') }}">Vous avez déjà un compte ?</a>
        </div>
    </div>

{% endblock %}